<% provide(:title, 'Faro10 - Addressing Mental Health on campus') %>



<br>
<div class="row">
  <div class="col-md-5 col-md-offset-1">

    <h4>In a 2016 survey of students by the American College Health Association, over 50% of students surveyed reported feeling that things were hopeless,
      and 39% reported feeling so depressed that it was difficult to function during the past 12 months.  </h4>
  </div>

</div>
<hr>

<div class="row">
  <div class="col-md-6 col-md-offset-5">
    <h4>
      In addition, the Center for Collegiate Mental Health at Penn State, which annually reports on college students receiving mental health services,
      found that the number who have purposely injured themselves (for instance, by cutting themselves) rose steadily to almost 26 percentin the 2015-16 school year,
      from 21.8 percent in 2010-11. The same upward trend was true of those who seriously considered attempting suicide rising to 33.2 percent, up from 23.8 percent, over the same period.
      <br>
      While demand is increasing for treatment, University Counseling Centers  have limited resources and are unable to serve students who may require a
      higher level of mental health treatment services.
    </h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Something has to change. Is your campus doing everything it can to better address the mental health challenges it faces?</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>What our tool provides</h2>
    <div class="col-md-8">
      <h3>For Universities:</h3>
      <ul>
        <li style="font-size: 16pt">Take leadership in addressing mental health on your campus</li>
        <li style="font-size: 16pt">Reduce risks of suicidality</li>
        <li style="font-size: 16pt">Promote mental health wellness 24/7</li>
        <li style="font-size: 16pt">Enable better information sharing  between your Counseling Center and your local mental health referral network</li>
        <li style="font-size: 16pt">More accurate data on mental health condition on campus</li>
        <li style="font-size: 16pt">Unique data collection tool for clinical research that does not exist anywhere else</li>
      </ul>
    </div>

    <div class="col-md-4">
    <br><br>
    <%= image_tag('patient_centered2.png' ) %>
  </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>What our tool provides</h2>
    <div class="col-md-8">
      <h3>For Students:</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <div class="image">
      <%= image_tag('hands.png', size: "200x200") %>
    </div>
  </div>
  <div class="col-md-8" style="margin-left: 20px">
    <h3>Taking ownership of their mental health.
    </h3>
    <p>
      Students can start tracking their moods, symptoms, cravings, energy level, and other key indicators that can help identify potential diagnosed conditions. Instead of one-time screening assessments which often miss mood and behavior swings, Faro10 allows students to track their mental health 24/7, which provides a better picture of their mental health. Even if the student decides that their condition is not concerning enough to see a professional, they have taken the step to become far more aware of their mental health and how it impacts their life.
    </p>
  </div>
</div>



<div class="row"><br>
  <div class="col-md-2 col-md-offset-1">
    <div class="image">
      <%= image_tag('phone1.png', size: "180x180" ) %>
    </div>
  </div>
  <div class="col-md-8" style="margin-left: 20px">
    <h3>Better information for diagnosis and treatment.
    </h3>
    <p>
      If they decide to see a professional counselor, they can accelerate diagnosis and the treatment process because they will bring a history of
      their mental health data that is otherwise unavailable.
    </p>
  </div>
</div>

<div class="row">  <br>
  <div class="col-md-2 col-md-offset-1">
    <div class="image">
      <%= image_tag('report.png', size: "190x190") %>
    </div>
  </div>


  <div class="col-md-8" style="margin-left: 20px">
    <h3>Smoother care transition.
    </h3>
    <p>
      If students need professional help while in college, it makes a lot of sense to make sure that their new care providers can easily connect with their previous,
      home-town care providers. Faro10 enables all care providers, regardless of location, employer, practice, or IT system to get a more comprehensive report on their patients.
    </p>
  </div>
</div>


<!--<div class="row">-->
  <!--<br>-->
  <!--<div class="col-md-2 col-md-offset-1">-->
    <!--<div class="image">-->
      <!--<%= image_tag('prescription.png', size: "180x180") %>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-8" style="margin-left: 20px">-->
    <!--<h3>DOCUMENT OUTCOMES WITH MEASUREMENT-BASED DATA.-->
    <!--</h3>-->
    <!--<p>-->
      <!--Faro10 provides you with an automated and easy way to document and report outcomes using measurement-based care data. With our data,-->
      <!--your team can also measure treatment success against population outcomes, so they can continually manage medication and treatment strategies based on quality data.-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<br>-->
  <!--<div class="col-md-2 col-md-offset-1">-->
    <!--<div class="image">-->
      <!--<%= image_tag('clinic_tool.png', size: "180x180") %>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-8" style="margin-left: 20px">-->
    <!--<h3>SERIOUS TOOL FOR DIAGNOSED CONDITIONS.-->
    <!--</h3>-->
    <!--<p>-->
      <!--While other tools are designed for self-help, mindfulness or telehealth, Faro10 was built for students with more serious mental health conditions.-->
      <!--While we think these other tools can be helpful for certain populations, they are no match for Faro10 to help treat students struggling with more severe issues.-->
    <!--</p>-->
  <!--</div>-->
<!--</div>-->
<hr>

<div class="row">
  <p style="text-align: center "><%= link_to "Contact us", contact_path %> to learn more about how Faro10 can make a difference for your students.   <br>   roger@faro10.com</p>
</div>

<hr>


