<% provide(:title, 'Faro10 - We can help improve mental health for your workforce') %>

<br>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <h3 style="color:#4FA59F">Employee Assistance</h3>
    <h4 style="color: #326867">Robust Behavioral Health Tool for Employers and Employee Assistance Programs </h4>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2 col-md-offset-1"><br><br>
    <div class="image">
      <%= image_tag('key.png', size: "161x107") %>
    </div>
  </div>
  <div class="col-md-8" style="margin-left: 20px">
    <h3>IMPROVE MENTAL HEALTH OUTCOMES FOR EMPLOYERS, EMPLOYEES AND THEIR FAMILIES.
    </h3>
    <p>
      Faro10's easy-to-use tools are unique because they allow mental health care providers greater actionable insights
      into those employees and their family members that may be diagnosed with mental health conditions.
      Today's mental health systems only captures patient data at the point of care, and fails to capture a much richer
      data picture -- when patients are at home, at school, or at work. Faro10 is different -- we enable families and loved
      ones to track and report meaningful data, such as moods, behavior, and medication adherence with all of their clinicians on a
      real-time basis using industry developed science and the most engaging mobile experience on the market.
    </p>
  </div>
</div>



<div class="row"><br>
  <div class="col-md-2 col-md-offset-1"><br><br>
    <div class="image">
      <span  style="color: white">  "    "</span><%= image_tag('percentage.png', size: "147x123" ) %>
    </div>
  </div>
  <div class="col-md-8" style="margin-left: 20px">
    <h3>POSITIVELY IMPACT MENTAL HEALTH COSTS FOR EMPLOYERS.
    </h3>
    <p>
      We connect care providers on our single care platform, so that each provider involved with your employee population can share
      and access important treatment data, such as medication prescriptions, treatment notes, and care schedules. No more disconnects,
      surprises, or wasted time educating a new provider on the important details for your employees on the mental health treatment journey.
      With the benefits of Faro10, employers should see reduced health care insurance and premium costs, less absenteeism, and lower workplace risks that are associated with employee behavioral health challenges .
    </p>
  </div>
</div>

<div class="row">  <br>
  <div class="col-md-2 col-md-offset-1"><br>
    <div class="image">
      <span  style="color: white">  "    "</span><%= image_tag('selfdocument.png', size: "127x140") %>
    </div>
  </div>


  <div class="col-md-8" style="margin-left: 20px">
    <h3>SUICIDE AND ER PREVENTION.
    </h3>
    <p>
      Our tools allow clinicians to customize what moods, behavior, medication usage and other key activities they track, and to set
      notifications so that appropriate interventions can be initiated should the data suggest the patient is entering a dangerous condition.
    </p>
  </div>
</div>


<div class="row">
  <br>
  <div class="col-md-2 col-md-offset-1">
    <div class="image">
      <%= image_tag('report.png', size: "180x180") %>
    </div>
  </div>
  <div class="col-md-8" style="margin-left: 20px">
    <h3>DOCUMENT OUTCOMES WITH MEASUREMENT-BASED DATA.
    </h3>
    <p>
      Faro10 provides clinicians with measurement-based care data. With our data, clinicians can also measure treatment success not just by each patient,
      but against their population outcomes, so they can continually manage medication and treatment strategies based on quality data.
    </p>
  </div>
</div>

<div class="row">
  <br>
  <div class="col-md-2 col-md-offset-1"><br>
    <div class="image">
      <%= image_tag('prescription.png', size: "155x155") %>
    </div>
  </div>
  <div class="col-md-8" style="margin-left: 20px">
    <h3>SERIOUS TOOL FOR DIAGNOSED CONDITIONS.
    </h3>
    <p>
      While other mobile and software tools are designed for self-help, mindfulness or telehealth, Faro10 was built for treating individuals with
      diagnosed mental health conditions. While we think these other tools can be helpful for certain employee populations, they are no match for Faro10 in terms of efficacy.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <p style="text-align: center "><%= link_to "Contact us", contact_path %> to learn more about how Faro10 can be a huge asset to your EAP program.   <br>   roger@faro10.com</p>
</div>

<hr>

<div class="row">
  <p>Resources</p>
  <div class="row">

    <div class="col-md-4">
      <span></span>
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-body text-center">
          <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Employer Benefit Overview", asset_path("employer_benefits.pdf"), :target => "_blank" %> </p>
        </div>
      </div>
    </div>
  </div>
</div>

