<% provide(:title, 'Faro10 - Helping familes deal with behaviorial health issues') %>

<br>
<div class="row">
  <div class="col-md-3 col-md-offset-1" id="try-me">
    <br>
    <h1 style="color: #4FA59F"><b>Empowering Families with Tools & Guidance</b></h1>
    <p>
      Know that you are not alone.  All of us at Faro10 have been in your shoes. This is why our founder
      created Faro10 and why our entire team is passionate about sharing this application with you.
    </p>
    <br>
    <%= link_to "USER TESTIMONIAL", asset_path("Patient Case Study.pdf"), :target => "_blank", class: "btn btn-lg btn-block" %>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <%= image_tag('faro10_kickstarter_hero_image3.jpg', size: "833x470"   ) %>
  </div>
</div>
<br>
<hr>
<br>
<div class="row">

  <div class="col-md-8 col-md-offset-1">
    <div class="row">
      <div class="col-md-2"><br>
        <div class="image">
          <%= image_tag('observers.png', size: "180x180") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 5px">
        <h3>A TOOL BUILT FOR FAMILIES AND FRIENDS.
        </h3>
        <p>
          The mental health care experience needs an overhaul. Instead of waiting for the health care system to catch up
          to the needs of parents and family members, we decided to take the lead.  So we built the industry's best app to allow
          families and friends to become part of the mental health solution for their loved ones.
        </p>
      </div>
    </div>
    <div class="row"><br>

      <div class="col-md-8 col-md-offset-1" style="margin-left: 5px">
        <h3>TAKE CONTROL.
        </h3>
        <p>
          The experience of taking your loved ones and close friends through the mental health care system can leave you extraordinarily
          frustrated and overwhelmed. Too often, parents, family members, and friends involved in supporting those with mental health challenges
          are left on-the-sidelines, and feel uninformed, disconnected and helpless by the journey through our health care system.
        </p>
      </div>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('mobileapp.png', size: "180x180" ) %>
        </div>
      </div>
    </div>
    <div class="row">  <br>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('prescription.png', size: "180x180") %>
        </div>
      </div>

      <div class="col-md-8" style="margin-left: 5px">
        <h3>CONNECTING THE DOTS.
        </h3>
        <p>
          We believe that families, their loved ones, and all the mental health professionals involved with providing care should be connected
          with each other, and have real-time input and access to important patient information. Treatment decisions rely almost exclusively on periodic patient sessions
          with their care providers --which only provides lagging and limited data when the need is for timely and informed treatment decisions..
        </p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-8" style="margin-left: 5px">
        <h3>SHINING A LIGHT BEFORE CONCERNS TURN INTO A CRISIS.
        </h3>
        <p>
          One of our goals is to prevent tragic or life-threatening outcomes that are caused by adverse mental heath conditions.
          We want to give all care-givers a window into important signs that may indicate our loved-ones are not adhering to treatment,
          that treatment programs are not working, or that events point to a potential crisis situation.
          We built a software platform that connects Patients, Care Givers and Clinicians, and allows them to set key
          indicators and notifications when real-time data shows a patient maybe in trouble.
        </p>
      </div>
      <br>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('report.png', size: "180x180") %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <h4 style="color: #326867">BENEFITS</h4><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('pen.png', size: "70x70" ) %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          Easily record observations for numerous indicators so you can measure treatment progress
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2"><br>
        <div class="image">
          <%= image_tag('clipboard.png', size: "70x70", style: "grayscale" ) %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          See visual charts that show extent of mood fluctuations and progress indicating what is working and what might not be
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('phone_small.png', size: "70x70") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          Quickly and conveniently make journal observations from mobile device.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('clinician2.png', size: "70x70") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          All entries are provided digitally to loved-one's Clinician for use in treatment
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('locate.png', size: "70x70") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          Find Clinicians providing quality treatment based on measured results
        </p>
      </div>
    </div>
  </div>
</div>


<hr>

<div class="row" style="background-color: #4FA59F "><br>
  <div class="col-md-3 col-md-offset-1">
    <h2 style="text-align: left; color: white; font-size: 25px "> About us </h2>
    <p style="color: white">
      Faro10 is a behavioral health software company revolutionizing mental health by providing tools that enable delivery of evidence-based treatment related to
      outcome measurement, digital health data collection, care coordination, and analytics.
    </p>
  </div>

  <div class="col-md-2 col-md-offset-1">
    <h2 style="text-align: left; color: white; font-size: 25px "> Use in Schools </h2>
    <p style="color: white">
      Faro10 is free for schools!  <br>  Introduce it today to your PTA and school administrators to start tackling behavioral health issues in your school.
    </p>
    <b style="color: white; font-size: large"><%= link_to "LEARN MORE  >", '/schools' %> </b> <br><br><br>
  </div>
<br>
  <div class="col-md-4 col-md-offset-1">
    <h2 style="text-align: left; color: white; font-size: 25px "> Mobile App for Families and Patients </h2>
    <p style="text-align: left; color: white; font-size: 20px ">
      <i class="fa fa-apple" style="font-size: 25px; color: white"></i>
      Download free in the
      <%= link_to "AppStore", 'https://itunes.apple.com/us/app/faro10/id1080204499?mt=8', :target => "_blank" %>
    </p>
    <p style="text-align: left; color: white; font-size: 20px ">
      <i class="fa fa-google" style="font-size: 25px; color: white"></i>
      Download free from
      <%= link_to "Google Play", 'https://play.google.com/store/apps/details?id=com.faro10', :target => "_blank" %>
    </p>
    <br><br>
  </div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <br><br>
    <%= link_to(image_tag("care_giver_app.PNG"), "https://youtu.be/s9rM8TYN2Fk", :target => "_blank") %>
  </div>
  <div class="col-md-5  col-md-offset-1">
    <br><br>
    <h1 style="color: #4FA59F">THE ONLY TOOL THAT CONNECTS CARE GIVERS DIRECTLY TO CLINICIANS. </h1>
    <h2 style="color: #326867">
      Don't let your feedback sit in the waiting room.  Measure progress and provide feedback using Faro10 mobile app.
    </h2>
    <p style="font-size: large">
      By tracking in Faro10, your critical feedback is available to Clinicians during sessions.
      Patients can get more out of sessions.  Clinicians have a better idea where to focus.
      Make sure your input is available even if you are not!


    </p>
    <br>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <p >Resources</p>
  </div>



  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <span></span>
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-body text-center">
          <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Guardian| getting started",  asset_path("quick_start_guide_for_guardians.pdf"), :target => "_blank" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <span></span>
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-body text-center">
          <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Faro10 Patient Starter Kit", asset_path("Faro10_StarterKit_Patient.pdf"), :target => "_blank" %> </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <span></span>
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-body text-center">
          <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Faro10 User Case Study", asset_path("Patient Case Study.pdf"), :target => "_blank" %> </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
    <div class="panel-body text-center">
      <p style="font-size: 20px; text-align: left; margin: 4px  ">  <%= link_to "YMH 101", asset_path("YMH_101_mental_health_kids.pdf"), :target => "_blank", class: "btn btn-lg btn-block" %>
      </p>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
    <div class="panel-body text-center">
      <p style="font-size: 20px; text-align: left; margin: 4px  "> <%= link_to "YMH FAQ", asset_path("YMH_understanding_youth_mental_health_faq.pdf"), :target => "_blank", class: "btn btn-lg btn-block" %>
      </p>
    </div>
  </div>
</div>


