<% provide(:title, 'Faro10 - Outcome Monitoring & Measuring and Patient Engagemnt') %>

<br>

<h3 style="color:#4FA59F">Solutions for Providers</h3>
<h4 style="color: #326867">Outcome monitoring & measuring and patient engagement </h4>
<br>
<div class="row">
  <div class="col-md-7">
    <div class="col-md-6">
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-update-heading">
          <h1>
            <%= image_tag("right.gif", height: '50', width: '70') %>
          </h1>
        </div>
        <div class="panel-body text-center">
          <strong> Increase office efficiency </strong>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-update-heading">
          <h1>
            <%= image_tag("bipolar_mania_test_icon.png", height: '50', width: '60') %>
          </h1>
        </div>
        <div class="panel-body text-center">
          <strong> Defense against malpractice </strong>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-update-heading">
          <h1>
            <%= image_tag("speech.png", height: '30', width: '40') %>
          </h1>
        </div>
        <div class="panel-body text-center">
          <strong> Reduce Time spent with documentation </strong>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-update-heading">
          <h1>
            <%= image_tag("customer_satisfaction_assessment_icon.png", height: '50', width: '70') %>
          </h1>
        </div>
        <div class="panel-body text-center">
          <strong> Administer computer-based assessments and exercises </strong>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-update-heading">
          <h1>
            <%= image_tag("our_vision.png", height: '50', width: '100') %>
          </h1>
        </div>
        <div class="panel-body text-center">
          <strong> Automate communication during collaborative treatment </strong>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-update-heading">
          <h1>
            <%= image_tag("depression_test_icon.png", height: '50', width: '70') %>
          </h1>
        </div>
        <div class="panel-body text-center">
          <strong> Automatically record patients adherence to treatment  </strong>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5" style="background-color: #4FA59F; color: #fff;">
    <!--<h1>Evidence-based Care</h1>-->
    <br>

    <div class="center">
      <%= image_tag("depression_test_icon.png", height: '70', width: '90') %>
    </div>

    <div class="info-box" style="padding: 0 12px;">
      <p>
        <strong>
          Outcome reporting available to meet health-plan requirements based on real-time patient and observer feedback
          <!--allows Clinician and client to know what is getting better from the perspective of the patient.-->
        </strong>
      </p>

      <ul>
        <li style="margin: 15px 0;">Enhanced precision in assessment, tracking, and treatment to achieve optimal outcomes.</li>
        <li style="margin: 15px 0;">Measurement of symptom severity, adherence to treatment, monitoring of symptoms and adverse events.</li>
        <li style="margin: 15px 0;">Real-time observer feedback of patient mood, symptoms and behavior for use in diagnosis and treatment. </li>
        <li style="margin: 15px 0;">Dynamically aggregates patient, observer and clinician feedback for holistic view of patient.</li>
        <li style="margin: 15px 0;">EXTREMELY SIMPLE TO USE: Simply log in to see how patients are doing. The Faro10 platform does not replace an existing system or process.
          It's designed to provide new, richer information that can improve treatment.</li>

      </ul>
      <br>
    </div>
  </div>


</div>

<br>
<hr>
<div class="row">

</div>

<div class="row">

  <p>Downloads</p>
  <div class="row">
      <div class="col-md-4">
        <span></span>
        <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
          <div class="panel-body text-center">
            <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Faro10 Whitepaper", asset_path("Faro10 Whitepaper_v2.pdf") %> </p>
          </div>
        </div>
      </div>
  </div>



  <!--<div class="row">-->
      <!--<div class="col-md-4">-->
        <!--<span></span>-->
        <!--<div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">-->
          <!--<div class="panel-body text-center">-->
            <!--<p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Faro10 Increases Revenue", asset_path("Faro10 Increases Revenue.pdf") %> </p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-md-4">-->
      <!--<span></span>-->
      <!--<div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">-->
        <!--<div class="panel-body text-center">-->
          <!--<p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Transformative Approach", asset_path("Faro10 Transformative Approach.pdf") %> </p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->




</div>

<hr>
<div class="row">
    <p style="text-align: center ">To learn more about introducing measurement-based treatment using Faro10,  <%= link_to "Contact us", contact_path %> for a demo,
      and we'll walk you through all of the great features.      josh@faro10.com</p>

</div>
