<% provide(:title, 'Faro10 - Clinical trial management and electronic data capture for research') %>

<br>
<div class="row">
  <div class="col-md-3 col-md-offset-1" id="try-me">
    <h1 style="color: #4FA59F"><b>FASTER RECRUITMENT AND BETTER TRIAL COMPLIANCE</b></h1>
    <p>
      FARO10 USERS ARE ALREADY TRACKING THEMSELVES USING MADRS AND SHEEHAN SCALES.
      THOUSANDS HAVE OPTED-IN FOR BEHAVIORAL HEALTH STUDIES.

    </p>
    <br>
    <%= link_to "Trial Management Application", asset_path("cro_benefits_v3.pdf"), :target => "_blank", class: "btn btn-lg btn-block" %>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <%= image_tag('cro_infographic_v2.png', size: "833x468" ) %>
  </div>
</div>
<br>
<hr>

<div class="row" style="background-color: #4FA59F "><br>
  <div class="col-md-12">
    <h2 style="text-align: center; color: white; font-size: 25px "> "the No. 1 cause of delays in clinical trials is the failure to recruit sufficient patients in a timely manner"</h2>
    <p style="text-align: center; color: white">
      Finding subjects for behavioral health studies can be particularly challenging because patients often go undiagnosed or do not seek treatment,
      so they are often not present in traditional trial database lists which can delay recruitment and increase recruitment advertising costs.
    </p>
  </div>
</div>

<br>
<hr>
<br>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <%= image_tag('cro_app_images.png', size: "833x468"  ) %>
  </div>
  <div class="col-md-3 col-md-offset-2" id="try-me">
    <h1 style="color: #4FA59F"><b>THOUSANDS OF PATIENTS WAITING FOR A TRIAL </b></h1>
    <p>
      WITHIN OUR EDC MOBILE APP, WE BUILT USEFUL TOOLS THAT ENGAGE PATIENTS, ENCOURAGES ACTIVITY, AND IS USEFUL AT THE POINT OF CARE.<br><br>
      OUR USERS ARE ALREADY TRACKING BEHAVIORAL HEALTH INFORMATION BEING REVIEWED WITH THEM BY THEIR CLINICIAN. <br>  READY TO BE USED AS TESING SITES.
    </p>
  </div>
</div>
<br>
<hr>

<div class="row" style="background-color: #4FA59F "><br>
  <div class="col-md-12">
    <h2 style="text-align: center; color: white; font-size: 25px "> "Every day that a blockbuster drug is delayed from winning regulatory approval can mean as much as $8 million in lost sales"</h2>
    <p style="text-align: center; color: white">

    </p>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row">
      <div class="col-md-2"><br>
        <div class="image">
          <%= image_tag('observers.png', size: "180x180") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 5px">
        <h3>GAIN ACCESS TO THOUSANDS OF POTENTIAL RESEARCH PATIENTS.
        </h3>
        <p>
          Faro10 behavioral health tracking tools are in use by thousands of people willing to participate in studies,
          and already tracking their behavioral health.

        </p>
      </div>
    </div>
    <div class="row"><br>

      <div class="col-md-8 col-md-offset-1" style="margin-left: 5px">
        <h3>EASILY CAPTURE DATA FROM TRIAL PATIENTS.
        </h3>
        <p>
          Mobile application is designed to capture the most common indicators required in behavioral health studies, and is also configurable to capture non-standard and trial specific data.
          Greatly simplifies data capture and improves trial compliance with less effort.


        </p>
      </div>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('mobileapp.png', size: "180x180" ) %>
        </div>
      </div>
    </div>
    <div class="row">  <br>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('prescription.png', size: "180x180") %>
        </div>
      </div>

      <div class="col-md-8" style="margin-left: 5px">
        <h3>LOOKING FOR PATIENTS ON A SPECIFIC MEDICATION.
        </h3>
        <p>
          Our mobile tools allow users to track their medications and consistency.
          The CTMS and Clinician Dashboards provide real-time visibility into patient compliance.
        </p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-md-8" style="margin-left: 5px">
        <h3>CONTROL STUDY AND ANALYZE RESULTS IN REAL-TIME.
        </h3>
        <p>
          Configurable application.
          Pre-configured data analytics and charts.
          Easily monitor compliance and create alerts when patients become non-compliant.
          Send reminders from application to patients and clinicians.
          Secure communication between patients, clinicians and research team within application improves engagement
        </p>
      </div>
      <br>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('report.png', size: "180x180") %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <h4 style="color: #326867">BENEFITS</h4><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('pen.png', size: "70x70" ) %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          100% electronic data capture.  No more data entry from patient forms.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2"><br>
        <div class="image">
          <%= image_tag('clipboard.png', size: "70x70", style: "grayscale" ) %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          Pre-configured data analytics and Charts updated in realtime
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('phone_small.png', size: "70x70") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          Secure communication within application for messaging, voice, or video.
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('clinician2.png', size: "70x70") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          Improved site engagement through simplicity and reduced requirements
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3"><br>
    <div class="row">
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('locate.png', size: "70x70") %>
        </div>
      </div>
      <div class="col-md-8" style="margin-left: 20px">
        <p>
          Find Clinicians interested in being a test site with qualified patients
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row" style="background-color: #4FA59F "><br>
  <div class="col-md-4 col-md-offset-1">
    <h2 style="text-align: left; color: white; font-size: 25px "> ABOUT US </h2>
    <p style="color: white">
      Faro10 is a behavioral health software company revolutionizing mental health by providing tools that enable delivery of evidence-based treatment related to
      outcome measurement, digital health data collection, care coordination, and analytics.
    </p>
  </div>


  <br>
  <div class="col-md-4 col-md-offset-1">
    <h2 style="text-align: left; color: white; font-size: 25px "> CONTACT US TODAY </h2>
    <p style="text-align: left; color: white; font-size: 20px ">
      <i class="fa fa-envelope" style="font-size: 25px; color: white"></i>
      EMAIL: JOSH@FARO10.COM
    </p>

    <br><br>
  </div>
</div>
