<% provide(:title, 'Faro10 - Find the resources you are looking for') %>


<p> This is not our content, and we are not affiliated to these sites in any way.  We just feel that this is relevant and useful information, so I wanted to make it easy to find.  </p>
  <br>


  <div id="blog" class="row">
    <div class="col-sm-2 paddingTop20">
      <nav class="nav-sidebar" style="position: fixed">
        <ul class="nav">
          <li class="active"><a href="javascript:"><span class="glyphicon glyphicon-briefcase"></span> Categories</a></li>
          <li><a href="#children">Children</a></li>
          <li><a href="#depression_facts">Depression Facts</a></li>
          <li><a href="#bipolar">Bipolar</a></li>
          <li><a href="#bipolar">Bipolar</a></li>
          <li><a href="#medication">Medication FAQ</a></li>
          <li><a href="javascript:">Bipolar</a></li>
          <li class="nav-divider"></li>
        </ul>
      </nav>
    </div>

    <div id="children" class="col-md-10 blogShort">
      <h1>Talking to kids about Mental Illness</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/campaign_for_americas_kids_2012.jpg' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%">

      <article><p>
        Kids are naturally curious and have questions about mental illnesses. Understanding mental illnesses can be challenging for adults as well as for children. Myths, confusion, and misinformation about mental illnesses cause anxiety, create stereotypes, and promote stigma. During the past 50 years, great advances have been made in the areas of diagnosis and treatment of mental illnesses. Parents can help children understand that these are real illnesses that can be treated.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.aacap.org/AACAP/Families_and_Youth/Facts_for_Families/Facts_for_Families_Pages/Talking_To_Kids_About_Mental_Illnesses_84.aspx/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>A Reason to Live or Die</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/suicide_prevent.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        In the time it takes you to read this, a few others in the world have already taken their lives. You're still alive, so you still have time to choose differently. Because suicide is very much a choice you have to make. It is not a choice that can be made for you. I am not here to talk you out of it. I am here to help you make a decision that you can live or die with in peace. It's going to take about 5 minutes of your life, a life that you can't see much point in continuing. But since you found your way here, another 5 minutes probably isn't going to hurt anything.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://areason.org/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>Helping a Depressed Person</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/help_guide.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        When a family member or friend suffers from depression, your support and encouragement can play an important role in his or her recovery. However, depression can also wear you down if you neglect your own needs. These guidelines can help you support a depressed person while maintaining your own emotional equilibrium.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.helpguide.org/articles/depression/helping-a-depressed-person.htm">READ MORE</a>
    </div>

    <h2 id="depression_facts">Depression Facts</h2>
    <div class="col-md-10 blogShort col-md-offset-2">
      <h1>Talking about Depression</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/campaign_for_americas_kids_2012.jpg' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%">

      <article><p>
        Kids are naturally curious and have questions about mental illnesses. Understanding mental illnesses can be challenging for adults as well as for children. Myths, confusion, and misinformation about mental illnesses cause anxiety, create stereotypes, and promote stigma. During the past 50 years, great advances have been made in the areas of diagnosis and treatment of mental illnesses. Parents can help children understand that these are real illnesses that can be treated.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.aacap.org/AACAP/Families_and_Youth/Facts_for_Families/Facts_for_Families_Pages/Talking_To_Kids_About_Mental_Illnesses_84.aspx/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>What should i know</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/suicide_prevent.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        In the time it takes you to read this, a few others in the world have already taken their lives. You're still alive, so you still have time to choose differently. Because suicide is very much a choice you have to make. It is not a choice that can be made for you. I am not here to talk you out of it. I am here to help you make a decision that you can live or die with in peace. It's going to take about 5 minutes of your life, a life that you can't see much point in continuing. But since you found your way here, another 5 minutes probably isn't going to hurt anything.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://areason.org/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>Helping a Depressed Person</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/help_guide.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        When a family member or friend suffers from depression, your support and encouragement can play an important role in his or her recovery. However, depression can also wear you down if you neglect your own needs. These guidelines can help you support a depressed person while maintaining your own emotional equilibrium.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.helpguide.org/articles/depression/helping-a-depressed-person.htm">READ MORE</a>
    </div>

    <h2 id="bipolar">bipolar</h2>
    <div class="col-md-10 blogShort col-md-offset-2">
      <h1>What should i know about Bipolar</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/campaign_for_americas_kids_2012.jpg' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%">

      <article><p>
        Kids are naturally curious and have questions about mental illnesses. Understanding mental illnesses can be challenging for adults as well as for children. Myths, confusion, and misinformation about mental illnesses cause anxiety, create stereotypes, and promote stigma. During the past 50 years, great advances have been made in the areas of diagnosis and treatment of mental illnesses. Parents can help children understand that these are real illnesses that can be treated.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.aacap.org/AACAP/Families_and_Youth/Facts_for_Families/Facts_for_Families_Pages/Talking_To_Kids_About_Mental_Illnesses_84.aspx/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>A Reason to Live or Die</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/suicide_prevent.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        In the time it takes you to read this, a few others in the world have already taken their lives. You're still alive, so you still have time to choose differently. Because suicide is very much a choice you have to make. It is not a choice that can be made for you. I am not here to talk you out of it. I am here to help you make a decision that you can live or die with in peace. It's going to take about 5 minutes of your life, a life that you can't see much point in continuing. But since you found your way here, another 5 minutes probably isn't going to hurt anything.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://areason.org/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>Helping a Depressed Person</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/help_guide.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        When a family member or friend suffers from depression, your support and encouragement can play an important role in his or her recovery. However, depression can also wear you down if you neglect your own needs. These guidelines can help you support a depressed person while maintaining your own emotional equilibrium.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.helpguide.org/articles/depression/helping-a-depressed-person.htm">READ MORE</a>
    </div>

    <h2 id="medication">Medication</h2>
    <div class="col-md-10 blogShort col-md-offset-2">
      <h1>Get a genetic test first!</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/campaign_for_americas_kids_2012.jpg' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%">

      <article><p>
        Kids are naturally curious and have questions about mental illnesses. Understanding mental illnesses can be challenging for adults as well as for children. Myths, confusion, and misinformation about mental illnesses cause anxiety, create stereotypes, and promote stigma. During the past 50 years, great advances have been made in the areas of diagnosis and treatment of mental illnesses. Parents can help children understand that these are real illnesses that can be treated.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.aacap.org/AACAP/Families_and_Youth/Facts_for_Families/Facts_for_Families_Pages/Talking_To_Kids_About_Mental_Illnesses_84.aspx/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>A Reason to Live or Die</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/suicide_prevent.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        In the time it takes you to read this, a few others in the world have already taken their lives. You're still alive, so you still have time to choose differently. Because suicide is very much a choice you have to make. It is not a choice that can be made for you. I am not here to talk you out of it. I am here to help you make a decision that you can live or die with in peace. It's going to take about 5 minutes of your life, a life that you can't see much point in continuing. But since you found your way here, another 5 minutes probably isn't going to hurt anything.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://areason.org/">READ MORE</a>
    </div>

    <div class="col-md-10 blogShort col-md-offset-2 ">
      <h1>Helping a Depressed Person</h1>
      <img src='https://<%= ENV.fetch("AWS_S3_BUCKET") %>/help_guide.JPG' alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail" style="margin-right: 2%" >
      <article><p>
        When a family member or friend suffers from depression, your support and encouragement can play an important role in his or her recovery. However, depression can also wear you down if you neglect your own needs. These guidelines can help you support a depressed person while maintaining your own emotional equilibrium.
      </p></article>
      <a class="btn btn-blog pull-right marginBottom10" href="http://www.helpguide.org/articles/depression/helping-a-depressed-person.htm">READ MORE</a>
    </div>


  </div>

