<% provide(:title, 'Faro10 - Tools to support students through troubling times') %>



<div class="row valign">
  <div class="image">
    <%= image_tag('education-header-1.jpg') %>
  </div>
</div>



<br><br>

<div class="row">
  <div class="col-md-3" style="margin-left: 100px">
    <h1 style="color:#4FA59F"><b>MENTAL HEALTH TOOLS FOR SCHOOLS</b></h1>
    <p style="font-size: large">Tools to support students through troubling times and those trying to help.   </p>
    <div class="image" style="text-align: center">
      <%= image_tag('our_vision.png', size: "300x150" ) %>
    </div>
    <br>
    <p style="font-size: large">Our tools are completely FREE for Students, Administrators, Parents and Social Workers. <br>
                    Contact us for a demo and to learn how to get started.
    </p>
    <br>
    <b><%= link_to "LEARN MORE  >", asset_path("Faro10 Whitepaper for Schools.pdf"), :target => "_blank" %> </b>

  </div>
  <div class="col-md-6 col-md-offset-1">
    <h1 style="color:#4FA59F"><b>AUTOMATED ALERTS TO CLINICIANS AND GUARDIANS</b></h1>
    <p style="font-size: large">
      Faro10 analytics measures user behavior and automatically notifies Care Team when it detects behavior that my be life threatening, creating an
      opportunity to intervene.
    </p>
    <br>
    <h3 style="color:#326867">TAKE ACTION AGAINST SCHOOL SUICIDALITY</h3>
    <p style="font-size: large">
      FREE tools that help students Care Team take action.
    </p>
    <ul>
      <li style="margin: 15px 0;">Monitor students who are struggling with depression, bullying or other behavioral issues.</li>
      <li style="margin: 15px 0;">Track student social media habits to identify concerning behavior.</li>
      <li style="margin: 15px 0;">Students can request help for themselves or others through mobile app.</li>
      <li style="margin: 15px 0;">Easy collaboration between school counselors, family and professional clinicians.</li>
    </ul>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h3 style="color:#326867">INTERVENE BEFORE TRAGEDIES OCCUR</h3>
    <p style="font-size: large">Faro10 aggregates and mines data from the student, parents, counselors, and social media,
    to act as an <span style="color: #CC246F"> early warning system</span> of dangerous or harmful behavior. <br>
    </p>
    <ul>
      <li style="margin: 15px 0;">Track student social media habits to identify concerning behavior.</li>
      <li style="margin: 15px 0;">Automated alerts occur if a student or observer records something regarding violent intentions.</li>
    </ul>
  </div>
</div>
<br>

<br>
<br>
<br>
<div class="row">
  <div class="image" style="text-align: center">
    <%= image_tag('student_care_team.png' ) %>
  </div>
</div>

<br><br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p style="text-align: center; font-size: large ">
      Don't let Students fall through the cracks.  Faro10 takes a systems approach to student needs and ensures
      that vital information is available to those who need it.  <br><br>

      <%= link_to "Contact Us", contact_path %> now to learn more about these FREE tools. <br>
      michael@faro10.com</p>
  </div>
</div>

<br>

