<% provide(:title, 'Faro10 - Measure Substance Abuse treatment outcomes using quality metrics') %>

<br><br>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h1 style="color: #4FA59F"><b>COMPLIANT SOLUTION THAT MEASURES OUTCOMES </b> </h1>
    <p>
      Faro10 helps providers meet the new Care,
      Treatment, Services standards (CTS)
      CTS.03.01.09 issued by the Joint Commission
      which took effect on January 1, 2018.
    </p>
    <div class="image">
      <%= image_tag('joint_commission.png', size: "220x220" ) %>
    </div>
  </div>

    <div class="col-md-1 col-md-offset-1" >
      <div class="image">
        <%= image_tag('report.png', size: "150x150") %>
      </div>
    </div>
    <div class="col-md-6" style="margin-left: 20px">
      <h3>DOCUMENT OUTCOMES WITH MEASUREMENT-BASED DATA.
      </h3>
      <p>
        Faro10 provides you with an automated and easy way to document and report outcomes using measurement-based care data.
        This feature allows you to improve your reimbursement success with payers and meet industry compliance requirements,
        including new Joint Commission accreditation standards. With our data, your clinical director can also measure treatment
        success against population outcomes so they can continually manage medication and treatment strategies based on quality data.
      </p>
    </div>

    <div class="col-md-3 col-md-offset-1" style="margin-top: 50px" >
      <h3>QUALITY MEASUREMENT OF RELEVANT INDICATORS.
      </h3>
      <p>
        Track patient health in real-time using quality metrics and not easy-to-measure process compliance indicators.
        Outcome measures such as cravings, abstinence, relapse, shame, and more are easily measured.
        Customize treatment with your own indicators and incorporate observer and social media insights to provide a holistic view and customized treatment plan.
      </p>
      <br>
      <b><%= link_to "LEARN MORE  >", asset_path("Faro10_Substance_Abuse_v3.pdf"), :target => "_blank" %> </b>

    </div>
    <div class="col-md-3" style="margin-top: 50px" >
      <div class="image">
        <%= image_tag('mood.png', size: "554x419") %>
      </div>
    </div>

</div>
<hr>
<br>
<div class="row">
    <div class="col-md-7 col-md-offset-1">
    <div class="row">

      <div class="col-md-2">
        <div class="image">
          <%= image_tag('hands.png', size: "160x160") %>
        </div>
      </div>
      <div class="col-md-9" style="margin-left: 30px">
        <h3>IMPROVE PATIENT OUTCOMES.
        </h3>
        <p>
          Faro10 provides greater insights into your patients' moods, desires, medication adherence, and behavior when
          they are out of your treatment facility, and in turn, provides you and your team with a more complete and real-time
          picture of your patients' treatment progress. We capture patient self-reporting, patient journals, observer reporting
          (e.g. family members), and care information from all of your patient's providers on a single platform so that you can
          make more informed and timely decisions that lead to better outcomes.
        </p>
      </div>
    </div>
    <div class="row"><br>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('phone1.png', size: "150x150" ) %>
        </div>
      </div>
      <div class="col-md-9" style="margin-left: 30px">
        <h3>REDUCE PATIENT RELAPSE.
        </h3>
        <p>
          Our tools can allow you to customize what you track, measure it against your patient population, and set notifications
          that allow you to intervene if a patient may be tracking towards a relapse or a more critical situation.
        </p>
      </div>
    </div>

    <div class="row">
      <br>
      <div class="col-md-2">
        <div class="image">
          <%= image_tag('prescription.png', size: "150x150") %>
        </div>
      </div>
      <div class="col-md-9" style="margin-left: 30px">
        <h3>SCREEN AND TREAT CO-OCCURRING CONDITIONS.
        </h3>
        <p>
          The co-occurrence of depression and other serious mental health conditions with substance abuse and addiction is often overlooked.
          Our tool can help providers shorten the time to screen and diagnose for co-occurrence, which will allow your team to document,
          address, and bill for managing these conditions.
        </p>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <h4 style="color: #326867">SIMPLE TOOLS</h4><br>
      <div class="col-md-12" style="margin-left: 0">
        <p>
          IMPROVE CLIENT ENGAGEMENT WITH OUR INNOVATIVE MOBILE APP </p>
        <p>
          We built the most engaging and easy-to-use mobile application so that more patients and families would share their information with clinicians as part of their treatment.
          Just tap and slide. The app also allows clinicians to track industry standard metrics or they can customize metrics that are personalized for the patient and their condition.
        </p>
      </div>

      <div class="col-md-12">
        <div class="image">
          <%= image_tag('mobile_mood_entry.jpg', size: "247x442" ) %>
        </div>
      </div>

    </div>

</div>

<hr><br>

<div class="row">
  <p style="text-align: center ">To learn more about introducing measurement-based treatment using Faro10,  <%= link_to "Contact us", contact_path %> for a demo,
    and we'll walk you through all of the great features.      michael@faro10.com</p>
</div>
<br>
<hr>

<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <p >Resources</p>
  </div>


  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <span></span>
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-body text-center">
          <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i> <%= link_to "SA Treatment with Faro10", asset_path("Faro10_Substance_Abuse_v3.pdf"), :target => "_blank" %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <span></span>
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-body text-center">
          <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>
            <%= link_to "Clinician Starter Info", asset_path("Faro10_StarterKit_Clinician.pdf"), :target => "_blank" %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <span></span>
      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey">
        <div class="panel-body text-center">
          <p style="font-size: 20px; text-align: left; margin: 4px  "><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" style="margin-right: 17px"></i>  <%= link_to "Faro10 User Case Study", asset_path("Patient Case Study.pdf"), :target => "_blank" %> </p>
        </div>
      </div>
    </div>
  </div>
</div>

