<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mood.user_id %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @mood.mood %>
</p>

<%= link_to 'Edit', edit_mood_path(@mood) %> |
<%= link_to 'Back', moods_path %>
