<table id= "meetingsInprogressTable" cellpadding="0" cellspacing="0" border="0" class="dataTable table-responsive table-striped table-hover table-highlight table-bordered"  >
  <thead>
  <tr id="">
    <th style="border-bottom-color: transparent; border: none; width: 10% "></th>
    <th style="border-bottom-color: transparent; border: none; width: 20% ">
      Your Current Timezone is:
    </th>
    <th class="hidden-xs" style="border-bottom-color: transparent; border: none; width: 60% ">
      <%= form_for(@user) do |tz| %>
        <%= tz.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {}, { class: 'form-control'} %>
        <%= tz.submit "Save changes", class: "btn btn-primary", style: "border-radius: 0; background-color: #F19A20; border-color:  #F19A20" %>
      <% end %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @meetings.inprogress.order("start_time desc").each do |meeting| %>
      <tr>
        <td style="font-size: large"><%= link_to 'Join', meeting %></td>
        <td>
          <i>
            <%= meeting.meeting_users.in_meeting.count  %> attendees
          </i><br>
          hosted by: <%= meeting.host %><br>
          <%=  meeting.privacy.present?  ? "Private" : "" %>
        </td>
        <td><%= meeting.meeting_type %><br>
          <span style="font-size: large"><b><%= meeting.name %></b></span> <br>
          <%= meeting.topic %>
          <span style="font-size: small"> <%= meeting.special_focus %></span>
          <% if meeting.user_id == current_user.id %>
              <span style="float: right">
                <%= link_to 'Edit', edit_meeting_path(meeting) %><br>
              </span><br>
              <span style="float: right">
                <button type="button"
                        class="btn btn-primary"
                        style="vertical-align: bottom; margin-left: 2%; padding: 4px; background-color: #F19A20; font-size: x-small; border-color: orange; border-radius: 0;"
                        data-toggle="modal"
                        data-target="#meetingInprogressDetails2Modal<%=meeting.id %>">
                  <b>Details</b>
                </button>
              </span>
          <% else %>
            <span style="float: right">
              <button type="button"
                      class="btn btn-primary"
                      style="vertical-align: bottom; margin-left: 2%; padding: 4px; background-color: #F19A20; font-size: x-small; border-color: orange; border-radius: 0;"
                      data-toggle="modal"
                      data-target="#meetingInprogressDetails1Modal<%=meeting.id %>">
                <b>Details</b>
              </button>
             </span>
              <div class="modal fade" id="meetingInprogressDetails1Modal<%=meeting.id %>" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content" style="border-radius: 0">
                    <div class="modal-body">
                      <div class="row" style="margin-left: -20px">
                        <div class="col-md-12">
                          <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey; background-color: #326867 ">
                            <div class="panel-body text-center">
                              <h1 style="margin: 4px; margin-bottom: 10px; margin-top: 10px; color: white ">
                                Meeting Details
                              </h1>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <%= render partial: "meeting_details", locals: {meeting: meeting} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          <div class="modal fade" id="meetingInprogressDetails2Modal<%=meeting.id %>" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content" style="border-radius: 0">
                <div class="modal-body">
                  <div class="row" style="margin-left: -20px">
                    <div class="col-md-12">
                      <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey; background-color: #326867 ">
                        <div class="panel-body text-center">
                          <h1 style="margin: 4px; margin-bottom: 10px; margin-top: 10px; color: white ">
                            Meeting Details
                          </h1>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <%= render partial: "meeting_details", locals: {meeting: meeting} %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
