<%= form_for(@meeting) do |f| %>
    <% if @meeting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
          <ul>
            <% @meeting.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel" style="border: 1px solid; border-radius: 0; border-color: lightgrey; background-color: #326867; margin-top: -10px ">
      <div class="panel-body text-center">
        <p style="font-size: 28px; text-align: left; margin: 4px; margin-bottom: 10px; margin-top: 10px; color: white ">
          Start a Conversation NOW
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4" style="margin-top: 15px">
        <div class="field">
          <%= f.label :support_type %><br>
          <%= f.select :meeting_type, options_for_select(["Veteran Support","Substance Abuse", "Easting Disorder", "Suicide Loss", "Depression", "Care Giver Support", "Pregnancy Loss", "Other"]), {}, class: "form-control" %><br>
        </div>

        <div class="field">
          <%= f.label 'Conversation Name' %><br>
          <%= f.text_field :name, placeholder: "Enter a Conversation Name",  class: 'form-control' %>
        </div>
        <br>
        <div class="field">
          <%= f.label 'Conversation Topic' %><br>
          <%= f.text_field :topic, placeholder: "Enter a Topic", class: 'form-control' %>
        </div>
        <br>
        <div class="checkbox" id="meeting_privacy_group">
          <label>
            <br />
            <%= f.check_box :privacy %>
            <b> Private</b>
          </label>
        </div>
      <br>
        <div class="form group" id="meeting_password_group">
          <!--<= f.label :password %><br>-->
          <%= f.text_field :password, placeholder: "Enter a Password", autofocus: true,  class: 'form-control'  %>
          <br>
        </div>

        <div class="hidden">
          <%= f.number_field :duration, value: 90 %>
          <%= f.number_field :user_id, value: current_user.id %>
          <%= f.datetime_select :start_time, value: Time.now %>
          <%= f.text_field :status, value: 'in-progress' %>
          <%= f.text_field :host, value: current_user.user_id %>
          <%= f.text_field :room_name, value: SecureRandom.hex(n=10) %>
        </div>
        <br>
        <div class="form-actions" id="save-meet-now-form">
          <%= f.submit "Start Conversation", class: "button"%><br>
        </div><br>
        <%= link_to 'Back', meetings_path %>
      </div>

      <div class="col-md-3 col-md-offset-1">
        <tbody>
          <% if @observations.present? %>
              <h3>Invite Contacts</h3>
              <% @observations.each do |observation| %>
                  <tr>
                    <td>
                      <div class="col-md-10" style="margin-top: 13px">
                        <!--<i class="fa fa-user" style="margin-right: 7px; color: black"></i>-->
                        <span style="margin-right: 8px"><%= check_box_tag "user_invitations[]", observation.observer_id %></span>
                        <span style="color: #CC246F; vertical-align: top"><%= observation.observer %></span><br>
                        <span style="margin-left: 23px"><%= observation.relationship %></span>
                      </div>
                    </td>
                  </tr><br>
              <% end %>
          <% end %>
        </tbody>
      </div>
    </div>

<% end %>
<br>









<style>
  .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 0;
    border: 0;
    border-color: #F19A20;
    background-color: #F19A20;
    color: white;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 2px 6px 0 rgba(0,0,0,0.19);
    height: 52px;
    width: 150px;

  }

  .button:hover {
    background-color: #d17f0d;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 6px 12px 0 rgba(0,0,0,0.19);

  }

  .button:active {
    background-color: #d17f0d;
    color: white;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
    /*box-shadow: 0 3px 8px 0 rgba(0,0,0,0.24), 0 6px 12px 0 rgba(0,0,0,0.19);*/

  }


</style>