
<div class="row">
  <div class="col-md-12">
    <table id= "meetingsTable" cellpadding="0" cellspacing="0" border="0" class="dataTable table-striped table-hover table-highlight table-bordered"  >
      <thead>
      <tr>

        <th>Meeting Name</th>
        <th>Topic</th>
        <th>Hosted By</th>
        <th>Start time</th>
      </tr>
      </thead>
      <tbody>
      <% @meetings.scheduled.order("start_time ASC").each do |meeting| %>
        <tr>
          <td><%= meeting.meeting_type %><br>
            <b><%= meeting.name %></b></td>
          <td><%= meeting.topic %></td>
          <td><%= meeting.host %></td>
          <td><%= meeting.start_time.strftime "%A, %B %d" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>

