<div class="col-xs-12">
    <h1>Side Effects</h1>
    <h2>It is important to closely monitor adverse reaction to any treatment.  Any change in your condition can be annototed as a symptom, side effect, or tracked in your Journal.  </h2>

  <div class="box">
    <div class="icon">
      <div class="image"><span class="glyphicon glyphicon-exclamation-sign btn-custom-lg white"></span></div>
      <div class="info">

        <%= form_for(@entry) do |f| %>
            <% if @entry.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
                  <ul>
                    <% @entry.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <br>
          <!--<div class="field">-->
            <!--<= f.label :emotion %><br>-->
            <!--<= f.number_field :emotion, :placeholder => " 1-20"  %>-->
          <!--</div>-->

            <div class="form-group">
              <%= f.datetime_select :updated_at, class: "form-control", :discard_minute => true, :discard_year => true, ampm: true, default: Time.now %>
            </div>

            <div class="field form-group">
              <div class="checkbox-inline">
              <%= f.check_box :nausea, class: "checkbox" %>
              <%= f.label :nausea %><br>
              </div>
            </div>

            <div class="field form-group">
              <div class="checkbox-inline">
              <%= f.check_box :headache, class: "checkbox" %>
              <%= f.label :headache %><br>
                </div>
            </div>

            <div class="field form-group">
              <div class="checkbox-inline">
              <%= f.check_box :restlessness, class: "checkbox" %>
              <%= f.label :restlessness %><br>
                </div>
            </div>

            <div class="field form-group">
              <div class="checkbox-inline">
              <%= f.check_box :dry_mouth, class: "checkbox" %>
              <%= f.label :dry_mouth %><br>
                </div>
            </div>

            <div class="field form-group">
              <div class="checkbox-inline">
              <%= f.check_box :nightmare, class: "checkbox" %>
              <%= f.label :nightmare, 'Nightmare/Vivid Dream' %><br>
                </div>
            </div>
            <br>


            <div class="field">
              <%= f.label :activity, "Exercise" %><br>
              <%= f.number_field :activity, :placeholder => "how many minutes... ex 45"  %>
            </div>
            <br>

            <div class="field">
              <%= f.label :weight, 'Weight'%><br>
              <%= f.number_field :weight %>
            </div>
            <br>

            <div class="field">
              <!--<i class="fa fa-info-circle" data-toggle="modal" data-target="#zestModal" style="color:green"></i>  -->
              <%= f.label :hallucination, 'Hallucinations' %><br>
              <div class="slider-group">
                <span id="hallucination-val">0</span>
                <input type="range" id="hallucination-slider" name="entry[hallucination]" min="0" max="6" value="0" step="1" onChange="updateSliderVal('hallucination', this.value)" />
              </div>
            </div>

            <div class="field">
              <!--<i class="fa fa-info-circle" data-toggle="modal" data-target="#zestModal" style="color:green"></i>  -->
              <%= f.label :pain, 'Pain' %><br>
              <div class="slider-group">
                <span id="pain-val">0</span>
                <input type="range" id="pain-slider" name="entry[pain]" min="0" max="6" value="0" step="1" onChange="updateSliderVal('pain', this.value)" />
              </div>
            </div>

            <!--<div class="field">-->
            <!--<= f.label :social_interaction %><br>-->
            <!--<= f.number_field :social_interaction, :placeholder => "0-5"  %>-->
            <!--</div>-->
            <br>
            <div class="actions">
              <%= f.submit "Add New Status", class: "btn btn-primary", style: "background-color: #326867; border-radius: 0" %>
            </div>

        <%end%>
      </div>
        <div class="space"></div>
        </div>
  </div>
</div>

