<div class="row">
  <div class="col-md-6 col-md-offset-3">


<%= form_for(@activity_level) do |f| %>
  <% if @activity_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_level.errors.count, "error") %> prohibited this activity_level from being saved:</h2>

      <ul>
      <% @activity_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :activity_level %><br>
    <%= f.number_field :activity_level, :autofocus => "autofocus", :placeholder => " 1-4" %>
  </div>

        <br/>
        <br/>


  <div class="actions">
    <%= f.submit "Add New Activity Level", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
</div>