
<style>
    #menu li,
    a:link {
        color: #326867;
        text-decoration: none;
    }
    a:visited {
        color: #326867;
        text-decoration: none;
    }
    a:hover {
        color: #CC246F;
        text-decoration: none;
    }
    a:active {
        color: #CC246F;
        text-decoration: none;
    }
</style>

<%= render partial: "patients/patient_navbar", locals: {active: "exercises"} %>
<br>


<div class="row">
  <div class="col-md-12">
    <div class="table-wrapper">
        <h3>Assigned CBT Exercises</h3>
        <p>
        You have assigned these exercises to patient: <%= membership.member %>.
        </p>
        <br>
          <table id= "patient_exercises" cellpadding="0" cellspacing="0" border="0" class="dataTable table-striped table-hover table-highlight table-bordered"  >
            <thead>
            <tr>
              <th>Exercise Name</th>
              <th>Category</th>
              <th>Date Assigned</th>
              <th>Date Due</th>
              <th>Date Completed</th>
              <th>Status</th>
              <th>Review Submission</th>
              <!--<th>Send Reminder</th>-->
              <th>Unassign</th>
            </tr>
            </thead>
            <tbody>
              <% assigned.each do |ex| %>
                <tr>
                  <td><%= ex.longname %></td>
                  <td><%= ex.category %></td>
                  <td><%= ex.assigned %></td>
                  <td><%= ex.due %></td>
                  <td><%= ex.completed %></td>
                  <td><%= ex.status.capitalize %></td>
                  <td>
                    <% if ex.complete? %>
                      <%= link_to 'Open', patient_assigned_exercise_path(membership.member, ex) %>
                      <span> | </span>
                      <%= link_to "Print to PDF", pdf_patient_assigned_exercise_path(id: ex.id) %>
                    <% end %>
                  </td>
                  <!--<td><= link_to 'Send Message', '#' %></td>-->
                  <td>
                    <% unless ex.complete? %>
                        <%= link_to 'Unassign', patient_assigned_exercise_path(membership.member, ex),  method: :delete %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>
        <button type="button" class="btn btn-sm btn-primary" style="background-color: #326867; width: 170px; border-radius: 0" data-toggle="modal" data-target="#assignExerciseModal" ><i class="fa fa-file-image-o fa-lg" style="margin-right: 7px;" ></i>
          Assign Exercise
        </button><br><br>
    </div>
</div>

<!-- MODALS -->
<div class="modal fade" id="assignExerciseModal" role="dialog">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="color: #4FA59F" >  Assign Exercise </h4>
        <p>Choose an exercise from the dropdown list</p>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-5">
            <%= form_for ExercisesMembership.new, url: patient_assigned_exercises_path, as: :assigned do |f| %>
            <h3>Select Exercise</h3>
            <%= f.collection_select :exercise_id, Exercise.all, :id, :longname %>
            <%= f.hidden_field :membership_id, value: @membership.id %> <br><br>
            <h3>Date Due</h3>
            <%= f.date_select :due, { :order => [:month, :day, :year] } %>
            <br><br>
           </div>

            <div class="col-md-7">
              <%= render 'observer_list' %>
            </div>

         </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary" style="background-color: #326867; width: 150px; border-radius: 0" data-toggle="modal" ><i class="fa fa-file-image-o fa-lg" style="margin-right: 7px;" ></i>
          Assign
        </button>
          <% end %>
      </div>
    </div>
  </div>
</div>
