<style>
#images_test {

max-width:100%;
max-height:100%;
}
</style>

    <div class="row">
      <div class="col-md-4" style="border-color: black; border-width: 1px; background-color: #B4D336  ">
        <div id="images_test" class="col-md-8"  style="border-color: black; border-width: 1px; background-color: #B4D336  ">
          <h1 style="color: white">Track Mood</h1>
          <%= image_tag('mood_smile.png') %>
        </div>

        <div class="col-md-4"  style="border-color: black; border-width: 1px; background-color: #B4D336  ">

            <div class="row"  style="border-color: black; border-width: 1px; background-color: #B4D336  ">
                <%= image_tag('help.png') %>
            </div>
            <div class="row"  style="border-color: black; border-width: 1px; background-color: #B4D336  ">
                <%= image_tag('video.png') %>
            </div>
            <div class="row"  style="border-color: black; border-width: 1px; background-color: #B4D336  ">
                <%= image_tag('chart.png') %>
            </div>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-4"  style="border-color: black; border-width: 1px; background-color: #B4D336  ">
        <h1 style="color: white">Track Mood</h1>
        <div class='center'>
          <%= image_tag('mood_smile.png') %>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4"  style="border-color: black; border-width: 1px; background-color: #B4D336  ">
          <%= image_tag('help.png') %>
          <%= image_tag('video.png') %>
          <%= image_tag('chart.png') %>
        </div>
    </div>


