<div id="observer-card" class="col-xs-6  col-md-1" style="min-width: 385px; min-height: 425px">
  <div class="dashboard-card" style="background-color: #CC246F">
    <div class="card-header">
      <h1 class="card-header-text">Observer</h1>
    </div>
    <div class="card-menu">
      <%= image_tag('video_temp.png') %>
      <button type="button" class="card-video-button" data-toggle="modal" data-target="#observerInfoModal"><%= image_tag('help.png') %></button>
    </div>
    <div class="card-image">
      <a href="/users/observations"><%= image_tag('observer.png')%></a>
    </div>
    <div class="card-notification">
      <a href="#observerAlert" data-toggle="collapse">
        <%if !@observerMessage.nil?%>
            <%=image_tag('alert.png', :title => @observerMessage)%>
        <%end%>
      </a>
    </div>
    <div id="observerAlert" class="collapse card-message">
      <%=@observerMessage%>
    </div>
    <div class="card-info">
      <br/>
      Observees: <%=@observer_observee_total %><br/>
      Last Observation: <%= @last_observer_entry.present? ?  @last_observer_entry.observed_at.strftime("%m/%d/%Y") :"none made" %>
    </div>
    <div class="card-action-top">
      <%=image_tag('spacer.png')%>
      <div class="card-action-text">

      </div>
    </div>
    <div class="card-action-middle">
      <%=image_tag('spacer.png')%>
      <div class="card-action-text">

      </div>
    </div>
    <div class="card-action-bottom">
      <a href="/users/observations"><%=image_tag('edit.png')%>
        <div class="card-action-text">
          MAKE<BR/>OBSERVATION
        </div>
      </a>
    </div>
  </div>
</div>
